.home{
  display: flex;
}

.side-section{
    height: 800px;
    width: 400px;
    background-color:#cc9966;
    border: none;
    text-align: center;
    margin: 0;

    }

  .main-img{
    height: 200px;
    display: block;
    margin: 0px auto;
    padding-top: 60px;

  } 
   
  h1{
    text-align: center;
    font-size: 40px;
    color: #33272a;
    text-align: center;
  }

  .nav-link{
    color: #33272a;
    text-decoration:none ;
    font-size: 30px;
    cursor: pointer;
  }
   
  .image{
    height: 600px;
   }

  .side-img{
    display: block;
    margin: 10px auto;
  }

  .hover:hover{
    color: white;
  }