@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    background-color: #faeee7;
    margin: 0;
    padding: 0;
}

.heading{
    font-size: 30px;
    color: #33272a;
    margin: 30px;

}

.heading2{
    text-align: center;
    margin: 30px;
    margin-bottom: 50px;
    color:  #33272a;
    font-size: 50px;
}

.font{
    font-family: "Pacifico", cursive;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 40px;
}

.footer-line{
    font-size: 20px;
}
.text-center{
    text-align: center;
    padding: 25px;
}
.font-size{
    font-size: 25px;
}